@model _5032ass1._00.Models.BookingSet

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BookingSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassSet.Class_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassSet.Class_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booking_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booking_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booking_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booking_Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking_Rate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
