@model IEnumerable<_5032ass1._00.Models.BookingSet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="calendar"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassSet.Class_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking_Rate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="events">
                <td class="title">
                    @Html.DisplayFor(modelItem => item.ClassSet.Class_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking_Name)
                </td>
                <td class="start">
                    @Html.DisplayFor(modelItem => item.Booking_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking_Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking_Rate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
    {
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    @Scripts.Render("~/bundles/fullcalendar")
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />