@model _5032ass1._00.Models.ClassSet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ClassSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class_Des)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class_Des)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class_Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class_Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class_Lng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class_Lng)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class_Lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class_Lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class_Date)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin"))
    {
             @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
     }
            @Html.ActionLink("Back to List", "Index")
</p>
